{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-lander{% endblock %}

{% block content %}

<div class="lander-content">
    {% if page.landing_images %}
    {% for img in page.landing_images.all %}
        {% image img.image height-400 %}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
<script>
$( document ).ready(function() {
  var current = 0;
  var slides = $(".lander-content img");

  setInterval(function() {
    for (var i = 0; i < slides.length; i++) {
      slides[i].style.opacity = 0;
    }
    current = (current != slides.length - 1) ? current + 1 : 0;
    slides[current].style.opacity = 1;
  }, 5000);
});
</script>
{% endblock extra_js %}