/* GENERAL */

* {
  font-family: 'PT Sans', sans-serif;
}

a {
  outline: 0;
  color: black;
  text-decoration: none;
  transition-duration: 1s;
}

a:hover {
  color: #999999;
}

@media screen and (min-width: 1250px) {
  .template-normal {
    margin: 250px 80px 30px 80px;
  }

  .template-richtext  {
    margin: 250px 300px 30px 300px;
  }

  .template-lander {
    margin: 200px 300px 30px 300px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1249px){
  .template-normal {
    margin: 250px 30px 30px 10px;
  }

  .template-richtext  {
    margin: 250px 300px 30px 300px;
  }

  .template-lander {
    margin: 200px 300px 30px 300px;
  }
}

@media screen and (min-width: 600px) and (max-width: 999px){
  .template-normal {
    margin: 250px 0px 30px 0px;
  }

  .template-richtext  {
    margin: 250px 100px 30px 100px;
  }

  .template-lander {
    margin: 200px 100px 30px 100px;
  }
}

@media screen and (max-width: 599px){
  .template-normal {
    margin: 380px 0px 40px 0px;
  }

  .template-richtext, .template-lander {
    margin: 380px 40px 30px 40px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

h1 {
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #666666;
}

h3 {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

h4 {
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

p, .rich-text {
  font-size: 14px;
  font-weight: 200;
  color: #666666;
}

/* LANDER */

body.template-lander {
  text-align: center;
}

.lander-content {
  margin: 0;
  padding-bottom: 400px;
}

.lander-content > div.rich-text {
  margin: 20px 0 32px 0;
}

.lander-content > div.rich-text > p {
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
}

.lander-content img {
  position: absolute;
  transition: opacity 1.0s ease-in;
  left: 0;
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.lander-content img + img { 
  opacity: 0;
}

/* HEADER */

header {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#brand > h1 {
  margin-top: -10px;
}

#brand > h2 {
  margin-top: 60px;
  font-size: 12px;
}

#social-logos {
  position: absolute;
  top: 75px;
  right: 20%;
  text-align: right;
  z-index: 1;
}

#social-logos > a {
  margin: 5px;
}

@media screen and (max-width: 1000px){
  #social-logos {
    position: absolute;
    width: 100%;
    top: 20px;
    text-align: center;
  }
}


/* NAVBAR */

nav {
  position: absolute;
  top: 150px;
  width: 100%;
  left: 0;
  text-align: center;
}

nav > a, .nav > a {
  text-transform: uppercase;
  padding: 10px;
  margin: 3px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #666666;
}

@media screen and (max-width: 599px){
  nav > a {
    display: block;
    padding: 5px 0;
    margin: 5px 0;
  }
}

nav > a:hover, .nav > a:hover {
  color: #000000;
}

.nav {
  padding-top: 20px;  
}

.nav > a {
  font-size: 12px;
}


/* IMAGE PAGES */
@media screen and (min-width: 1250px) {
  #portfolio, #gallery, #video {
    width: 1200px;
  }

  #gallery .imagebox {
    width: 570px;
  }

  #video .imagebox {
    width: 360px;
  }

  #portfolio .imagebox {
    width: 270px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1249px){
  #portfolio, #gallery, #video {
    width: 1000px;
  }

  #gallery .imagebox {
    width: 470px;
  }

  #video .imagebox {
    width: 470px;
  }

  #portfolio .imagebox {
    width: 300px;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px){
  #portfolio, #gallery, #video {
    width: 700px;
  }

  #gallery .imagebox {
    width: 320px;
  }

  #video .imagebox {
    width: 320px;
  }

  #portfolio .imagebox {
    width: 320px;
  }
}

@media screen and (max-width: 599px){
  #portfolio, #gallery, #video {
    width: 300px;
  }

  #gallery .imagebox {
    width: 300px;
  }

  #video .imagebox {
    width: 300px;
  }

  #portfolio .imagebox {
    width: 300px;
  }
}

#portfolio, #gallery, #video {
  text-align: center;
  margin: 0 auto;
}

.imagebox {
  border: 1px solid #dddddd;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}

.imagetext {
  background-color: rgba(255, 255, 255, 0.0);
  -webkit-transition: background-color 3s; /* Safari */
  transition: background-color 3s;
}

.imagetext p {
  color: rgba(0, 0, 0, 0.0);
  transition: color 3s;
}

.imagebox:hover .imagetext {
  background-color: rgba(255, 255, 255, 0.7);
}

.imagebox:hover .imagetext > p {
  color: rgba(0, 0, 0, 1.0);
}

.imagebox img {
  width: 100%;
  height: auto;
}

.imagebox div {
  position: absolute;
}

span.caption {
  font-size: 14px;
  color: #777777;
  text-transform: uppercase;
}

span.caption > a {
  font-weight: bold;
}

.imagetext {
  z-index: 1;
  text-align: center;
  height: 100%;
  width: 101%;
  color: black;
}

.imagetext p {
  position: relative;
  top: 30%;
}


/* FOOTER */

footer {
  margin: 40px;
  text-align: center;
}

footer > a {
  margin: 0 10px 0 10px;
}


/* VIDEO */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 2.5% auto;
    padding: 50px;
    width: 95%; /* Could be more or less, depending on screen size */
    height: 95%;
}

#ytplayer {
  width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

